.left-outter-shadow{
    box-shadow: 0px 0px 400px 300px #ffc4a3;
}

.left-inner-shadow{
    box-shadow: 0px 0px 200px 150px #00C897;
}




.shadow-right-inner{
    box-shadow: 0px 0px 400px 300px #ffc4a3;
}