.background-shadow {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 91, 0, 0.4) 0%, rgba(255, 91, 0, 0) 100%);
    position: absolute;
    width: 1500px;
    height: 1500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

