.menus{
    transition: 0.4s cubic-bezier(0.65, 0.05, 0.24, 1.06) ;
}
.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  
  .container {
    max-width: 1200px; /* Change this to your desired value */
    margin: 0 auto;
  }
  
  .navbar.sticky {
    position: fixed;
    top: 0;
    z-index: 11111;
  }
