.menus{
    transition: 0.4s cubic-bezier(0.65, 0.05, 0.24, 1.06) ;
}
.nav{
    transition: 0.3s ease-in-out;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff69;
    z-index: 1111111;
    transition: 0.3s ease-in-out;
  }

