.Hero::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-image: url('../../../Assets/svg/hero-svg.svg');
  background-repeat: no-repeat;
  z-index: -1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-custom {
  @apply mx-auto -mt-[30px] h-[250px] w-[250px] border border-[3px] rounded-full overflow-hidden flex items-center justify-center;
}

.circle-custom-mobile {
  @apply mx-auto my-10 h-[250px] w-[250px] border border-[3px] rounded-full overflow-hidden flex items-center justify-center;
}