.testimonial-page-shadow-left {

    position: absolute;
    width: 1218px;
    height: 1218px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 91, 0, 0.4) 0%, rgba(153, 228, 205, 0.4) 100%);
}


.testimonial-shadow-right {
    position: absolute;
    width: 800px;
    height: 800px;
    z-index: -11;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 91, 0, 0.4) 0%, rgba(153, 228, 205, 0.4) 100%);
}